// Menu-container

.menu-container{
  @media screen and(max-width:767px){
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    width: 100%;
    max-width: 480px;
    height: 100%;
    padding: 48px 40px;
    background-color: $white-color;
    overflow-y: scroll;
    z-index: 1;
    
    

  }
   
  
  &.is-open{
    @media screen and(max-width:767px){
      display: block;
      
    }
  }

  @media screen and(min-width:768px){
    display: flex;
  }
}


