/* СТРАНИЦА СТУДИЯ */

/* Page-header */

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.pege-header{
  border-bottom: 1px solid #ECECEC;
}